---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="根特大学环境工程博士生，记录研究、思考和生活"
	pubDate={new Date('June 23 2026')}
	heroImage={AboutHeroImage}
>
	<p>
		你好，我是这个博客的作者，目前是根特大学环境工程专业的博士生，主要的研究方向是水处理。这个博客主要用来记录科研过程的思考、读论文的笔记，以及一些和专业不直接相关、但是我感兴趣的内容。另外，
我也会记录一些生活方面的内容，例如旅行记录等等。
	</p>

	<p>
		我认为把体验过的经历以及进行的思考记录下来，是对自己走过的路进行回忆和反思的好方法。如果你也对环境工程、可持续发展以及绿色低碳以及旅行见闻等也感兴趣的话，欢迎通过博客上的联系方式找我交流。
	</p>
</Layout>
